#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.articleCard {
  border: 1px #4f1403 solid;
  border-radius: 0.5rem;
  margin: 0.7rem auto 0.7rem auto;
  display: grid;
  grid-template-columns: 3fr, 1fr;
}

.articleMain {
  border: 1px #4f1403 solid;
  border-radius: 0.5rem;
  padding: 1rem;
}
.commentCard {
  border: 1px #4f1403 dotted;
  border-radius: 0.5rem;
  margin: 0.7rem auto 0.7rem auto;
}

.votes {
  display: flex;
  justify-content: center;
  margin: 0.7rem auto 0rem auto;
}

.voteBtn {
  margin-left: 0.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

h4 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.info {
  grid-column: 1;
  text-align: left;
  padding-left: 1rem;
}

.thumbnail {
  grid-column: 2;
  max-width: 100px;
  height: auto;
  border: 1px grey solid;
  justify-self: end;
  margin: 1rem;
}

.title,
.header {
  cursor: pointer;
}

#commentBox {
  margin: 1.5rem 0rem 0.5rem 0rem;
  width: 99%;
  height: 5em;
  border-radius: 0.5rem;
  border: 1px dotted #4f1403;
}

.submit {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dadada;
  cursor: pointer;
  transition: border-color 0.25s;
}

.submit:hover {
  border-color: #4f1403;
}
