#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.articleCard {
  border: 1px #4f1403 solid;
  border-radius: 0.5rem;
  margin: 0.7rem auto 0.7rem auto;
  display: grid;
  grid-template-columns: 3fr, 1fr;
}

.articleMain {
  border: 1px #4f1403 solid;
  border-radius: 0.5rem;
  padding: 1rem;
}
.commentCard {
  border: 1px #4f1403 dotted;
  border-radius: 0.5rem;
  margin: 0.7rem auto 0.7rem auto;
}

.votes {
  display: flex;
  justify-content: center;
  margin: 0.7rem auto 0rem auto;
}

.voteBtn {
  margin-left: 0.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

h4 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.info {
  grid-column: 1;
  text-align: left;
  padding-left: 1rem;
}

.thumbnail {
  grid-column: 2;
  max-width: 100px;
  height: auto;
  border: 1px grey solid;
  justify-self: end;
  margin: 1rem;
}

.title,
.header {
  cursor: pointer;
}

.hidden_id {
  color: white;
}
